@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #fff;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Lato";
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.aside-page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 10;
  background-color: #2A3354;
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px 15px;
}
.aside-page__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 48px 0;
}
.aside-page__logo {
  display: inline-block;
  flex: 0 0 78px;
  margin-right: 15px;
}
.aside-page__logo img, .aside-page__logo svg {
  width: 100%;
  object-fit: contain;
}
.aside-page__action {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  background: url("../img/zoom.svg") center no-repeat;
  background-size: cover;
}
.aside-page__out {
  background-image: url("../img/out.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 16px;
  width: 100px;
  opacity: 0.6;
}
.aside-page__out:hover {
  color: #0771ED;
}

.chose {
  margin: 0 0 25px 0;
}
.chose__name {
  color: #909ABB;
  font-size: 10px;
  line-height: 12px;
  margin: 0 0 8px 0;
  padding-left: 12px;
}
.chose__select {
  border: 1px solid #404867;
  border-radius: 4px;
  background-image: url("../img/arrow.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: 96% center;
}
.chose__select select {
  width: 100%;
  padding: 10px 12px;
  background: transparent;
  color: #fff;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}
.chose__select select:focus {
  outline: transparent;
}
.chose__select option {
  background-color: #2A3354;
  line-height: 25px;
}

.aside-nav {
  flex: 1 1 auto;
  margin: 0 0 20px 0;
}
.aside-nav__li {
  padding: 8px 0;
}
.aside-nav__link {
  display: flex;
  line-height: 17px;
  padding: 8px 30px 8px 30px;
  background-image: url("../img/icon-item.svg");
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 16px;
  transition: all 0.2s;
  border-radius: 4px;
}
.aside-nav__link_parent {
  position: relative;
}
.aside-nav__link_parent::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  width: 6px;
  height: 5px;
}
.aside-nav__link_parent._spoller-active {
  background-color: #202845;
}
.aside-nav__link_parent._spoller-active::after {
  transform: rotate(180deg) translate(0, 3px);
}
.aside-nav__link_parent:hover {
  background-color: #6A77A3;
}
.aside-nav__link_fq {
  background-image: url("../img/icon-faq.svg");
}
.aside-nav__link:hover {
  background-color: #0771ED;
}
.aside-nav__link-subname {
  font-size: 10px;
  opacity: 0.5;
}
.aside-nav__count {
  background-color: #C93636;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 8px;
  height: 20px;
}
.aside-nav__sublist {
  background-color: #303A5F;
  border-radius: 4px;
  padding: 10px 0;
  margin-top: 8px;
}
.aside-nav__sublist_sub {
  background: #46527D;
  border-radius: 4px;
}
.aside-nav__sublist_sub .aside-nav__sublink:hover {
  background-color: #6A77A3;
}
.aside-nav__sublink {
  display: block;
  padding: 8px 20px;
  position: relative;
  border-radius: 4px;
}
